<h1>All Words In Our Dictionary</h1>
	<% @listedwordobjects.each() do |item |%>
	<a href="word/<%= item.id%>"><p class="text-primary"><%= item.word()%></p>
	<% end %>
<hr>
<button class="btn"><a href="/new_word">New Word</a></button>