<div class="container">
	<div class="row">
		<h2 class="h2 text-primary"><%= @returnedword.word()%>
		</h2>
	</div>
	<div class="row">
		<h3>Definitions:</h3>
		<% if @definitions.length() > 0 %>
				<% @definitions.each() do |definition|%>
				<p><%= definition.content%></p>
				<%end%>
		<% else%>
			<p>No definition. Add Definition below</p>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form class="form-group" method="post" action="/word/<%= @returnedword.id()%>">
				<label>Enter Definition</label>
				<textarea class="form-control" type="text" name='definition'></textarea>
				<button class="btn btn-success" type="submit">Save Definition</button>
			</form>
		</div>
	</div>
</div>